<%= javascript_pack_tag 'count' %>

<div class="row mb-5">
  <div class="mx-auto">
    <h3>体験談の編集</h3>
    <span class="text-center"><p>(文章は最大200文字です)</p></span>
  </div>
</div>

<div class="row mb-5">
  <div class="mx-auto">
    <div class="col-md-12">

      <%= form_with model: @post, url: post_path(@post), method: :patch do |f| %>

        <div class="mb-3">
          <h4>業種 <span class="badge text-light">選択必須</span></h4>
            <% if @post.errors.include?(:industry) %>
              <p style="color: #ff4500;"><%= @post.errors.full_messages_for(:industry).first %><br>
            <% end %>
            <%= f.collection_select :industry_id, Industry.all, :id, :industry, include_blank: "--選択してください--" %>
        </div>

        <div class="mb-3">
          <h4>どんなお仕事ですか？職種や働く場所、業務内容を教えてください。<span class="badge text-light">必須</span></h4>
            <% if @post.errors.include?(:answer_what) %>
              <p style="color: #ff4500;"><%= @post.errors.full_messages_for(:answer_what).first %>
            <% end %>
            <%= f.text_area :answer_what, class: "form-control", id:"js-text1", rows: 3, maxlength:"200" %>
            <p id="counter1">0文字</p>
        </div>

        <div class="mb-3">
          <h4>雇用形態は？<span class="badge text-light">必須</span></h4>
            <% if @post.errors.include?(:answer_employment_status) %>
              <p style="color: #ff4500;"><%= @post.errors.full_messages_for(:answer_employment_status).first %>
            <% end %>
            <%= f.text_area :answer_employment_status, class: "form-control", id:"js-text2", rows: 3, maxlength:"200" %>
            <p id="counter2">0文字</p>
        </div>

        <div class="mb-3">
          <h4>勤務形態は？<span class="badge text-light">必須</span></h4>
            <% if @post.errors.include?(:answer_working_style) %>
              <p style="color: #ff4500;"><%= @post.errors.full_messages_for(:answer_working_style).first %>
            <% end %>
            <%= f.text_area :answer_working_style, class: "form-control", id:"js-text3", rows: 3, maxlength:"200" %>
            <p id="counter3">0文字</p>
        </div>

        <div class="mb-3">
          <h4>年収(額面の金額)や手取りの金額を教えてください。<span class="badge text-light">必須</span></h4>
            <% if @post.errors.include?(:answer_income) %>
              <p style="color: #ff4500;"><%= @post.errors.full_messages_for(:answer_income).first %>
            <% end %>
            <%= f.text_area :answer_income, class: "form-control", id:"js-text4", rows: 3, maxlength:"200" %>
            <p id="counter4">0文字</p>
        </div>

        <div class="mb-3">
          <h4>その仕事にはどうやってなりましたか？学歴や経歴などを教えてください。<span class="badge text-light">必須</span></h4>
            <% if @post.errors.include?(:answer_how) %>
              <p style="color: #ff4500;"><%= @post.errors.full_messages_for(:answer_how).first %>
            <% end %>
            <%= f.text_area :answer_how, class: "form-control", id:"js-text5", rows: 3, maxlength:"200" %>
            <p id="counter5">0文字</p>
        </div>

        <div class="mb-3">
          <h4>その仕事をする為に必要な資格やスキルはありますか？<span class="badge text-light">必須</span></h4>
            <% if @post.errors.include?(:answer_skill) %>
              <p style="color: #ff4500;"><%= @post.errors.full_messages_for(:answer_skill).first %>
            <% end %>
            <%= f.text_area :answer_skill, class: "form-control", id:"js-text6", rows: 3, maxlength:"200" %>
            <p id="counter6">0文字</p>
        </div>

        <div class="mb-3">
          <h4>なぜその仕事をやろうと思いましたか？</h4>
            <%= f.text_area :answer_why, class: "form-control", id:"js-text7", rows: 3, maxlength:"200" %>
            <p id="counter7">0文字</p>
        </div>
        <div class="mb-3">
          <h4>その仕事に向いている人の特徴はありますか？自分自身の性格や、周りにいた方はどんな感じでしたか？</h4>
            <%= f.text_area :answer_aptitude, class: "form-control", id:"js-text8", rows: 3, maxlength:"200" %>
            <p id="counter8">0文字</p>
        </div>
        <div class="mb-3">
          <h4>その仕事の将来性をどう考えますか？</h4>
            <%= f.text_area :answer_future, class: "form-control", id:"js-text9", rows: 3, maxlength:"200" %>
            <p id="counter9">0文字</p>
        </div>
        <div class="mb-3">
          <h4>その仕事をやっていて良かったこと、メリットだと感じたこと、やりがいなどを教えてください。</h4>
            <%= f.text_area :answer_advantage, class: "form-control", id:"js-text10", rows: 3, maxlength:"200" %>
            <p id="counter10">0文字</p>
        </div>
        <div class="mb-3">
          <h4>最後に、これからその仕事をやろうとする人へのコメントなど自由に意見をください。</h4>
            <%= f.text_area :answer_free, class: "form-control", id:"js-text11", rows: 3, maxlength:"200" %>
            <p id="counter11">0文字</p>
        </div>

        <div class="col mt-5 text-center">
          <div class="actions">
            <%= f.submit "以上の内容で保存", class: "btn btn-dark" %>
          </div>
        </div>

      <% end %>

    </div>
  </div>
</div>