<%= render 'layouts/notice' %>

<div class="row mb-5">

  <div class="col-md-4 mb-5">
    <div class="border border-secondary">

      <div class="mb-5">
        <%= render 'public/searches/search' %>
      </div>

      <div class="mb-5">
        <%= render 'public/industries/index', industries: @industries %>
      </div>

    </div>
  </div>

  <div class="col-md-8">
    <div class="row mb-5">
    <h3>体験談</h3>

    <% if @post.user == current_user %>
    <div class="col text-right">
      <div class="actions">
        <strong><%= link_to "投稿内容を編集する", edit_post_path(@post.id) %></strong><br>
        <strong><%= link_to "投稿を削除する", post_path(@post.id), method: :delete, "data-confirm" => "投稿を削除しますか？" %></strong>
      </div>
    </div>
    <% end %>
    </div>

    <div class="row mb-5">
      <div class="col-md-12">
        <div class="post bg-light">
          <div class="field">
            <strong>回答者：</strong>
            <p>
              <% if @post.user.is_deleted == false %>
                <%= @post.user.user_name %>
              <% else %>
                退会済みユーザー
              <% end %>
            </p>
          </div>
          <%= render 'layouts/post', post: @post %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div id="bookmark_<%= @post.id %>">
          <%= render 'public/bookmarks/bookmark', post: @post %>
        </div>
      </div>

      <div class="col-md-6">

      <% if user_signed_in? %>
        <div class="mb-5">
          <%= render 'public/comments/form', post: @post, comment: @comment %>
        </div>
      <% end %>

        <div class="comment-all">
          <%= render 'public/comments/index', post: @post %>
        </div>

      </div>
    </div>

  </div>

</div>
