<%= render 'layouts/notice' %>

<div class="row mb-5">

  <div class="col-md-4 mb-5">
    <div class="border border-secondary">

      <div class="mb-5">
        <%= render 'public/searches/search' %>
      </div>

      <div class="mb-5">
        <%= render 'public/industries/index', industries: @industries %>
      </div>

    </div>
  </div>

  <div class="col-md-8">
    <div class="row mb-5">
    <h3>体験談</h3>

    <% if @post.user == current_user %>
    <div class="col text-right">
      <div class="actions">
        <strong><%= link_to "投稿内容を編集する", edit_post_path(@post.id) %></strong><br>
        <strong><%= link_to "投稿を削除する", post_path(@post.id), method: :delete, "data-confirm" => "投稿を削除しますか？" %></strong>
      </div>
    </div>
    <% end %>
    </div>

    <div class="row mb-5">
      <div class="col-md-12">
        <%= render 'layouts/post', post: @post %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
      <% if @post.bookmarked_by?(current_user) %>
        <p>
          <%= link_to post_bookmarks_path(@post), method: :delete do %>
            ♥<%= @post.bookmarks.count %> | ブックマークを外す
          <% end %>
        </p>
      <% else %>
        <p>
          <%= link_to post_bookmarks_path(@post), method: :post do %>
            ♡<%= @post.bookmarks.count %> | この体験談をブックマークする
          <% end %>
        </p>
      <% end %>
      </div>

      <div class="col-md-6">

        <div class="mb-5">
        <%= form_with model: [@post, @comment] do |f| %>
          <%= f.text_area :comment, placeholder: "コメントはここに書いてください" %><br>
          <%= f.submit "コメントを送信する" %>
        <% end %>
        </div>

        <div>
        <h4 class="border-bottom">コメント</h4>
        <% @post.comments.each do |comment| %>
          <div class="mb-3">
            <%= comment.comment %><br>
            by <%= comment.user.user_name %> |
            <%= comment.created_at.strftime('%Y/%m/%d') %> |
          <% if comment.user == current_user %>
            <%= link_to "コメント削除", post_comment_path(comment.post,comment), method: :delete, "data-confirm" => "コメントを削除しますか？" %>
          <% end %>
          </div>
        <% end %>
        </div>

      </div>
    </div>

  </div>

</div>
