<div class="row mb-5">
  <div class="col-md-4">
    <%= render 'public/searches/search' %>
    <%= render 'public/industries/index', industries: @industries %>
  </div>

  <div class="col-md-8">
    <% if @industry.posts == [] %>

      <h3>お探しの業界に関する体験談は見つかりませんでした。</h3>

    <% else %>

      <h3>"<%= @industry %>"による検索結果</h3>
      <% @industry.posts.each do |post| %>
      <div class="post bg-secondary">
        <%= link_to post_path(post.id) do %>
        <div>
          <h4>業種</h4>
          <p><%= post.industry_id %></p>
        </div>
        <div>
          <h4>仕事内容</h4>
          <p><%= post.answer_what %></p>
        </div>
        <% end %>
      </div>
      <% end %>

    <% end %>
  </div>

</div>
