<div class="row mb-5">

  <div class="col-md-4 mb-5">
    <div class="border border-secondary">

      <div class="mb-5">
        <%= render 'public/searches/search' %>
      </div>

      <div class="mb-5">
        <%= render 'public/industries/index', industries: @industries %>
      </div>

    </div>
  </div>

  <div class="col-md-8">
    <% if @posts == [] %>

      <h3>お探しの業界の体験談は見つかりませんでした。</h3>

    <% else %>

      <h3>"<%= @industry.industry %>"の体験談</h3>
      <% @posts.each do |post| %>
      <div class="post bg-light">
        <%= link_to post_path(post.id) do %>
        <div>
          <strong>投稿日時：</strong>
          <span><%= post.created_at.to_s(:datetime_jp) %></span>
          <p></p>
        </div>
        <div>
          <h4><業種></h4>
          <p><%= post.industry.industry %></p>
        </div>
        <div>
          <h4><仕事内容></h4>
          <p><%= post.answer_what %></p>
        </div>
        <% end %>
      </div>
      <% end %>

    <% end %>
  </div>

</div>

<div="row mb-5">
  <%= paginate @posts %>
</div>