<div class="row mb-5">
  <div class="mx-auto">
    <h3>体験談</h3>
  </div>

  <div class="col text-right">
    <div class="actions">
      <strong><%= link_to "投稿を削除する", admin_post_path(@post.id), method: :delete, "data-confirm" => "この投稿を削除しますか？" %></strong>
    </div>
  </div>

</div>

<div class="row mb-5">
  <div class="mx-auto">
    <div class="post bg-light">
      <div class="field">
        <strong>回答者：</strong>
        <p>
          <% if @post.user.is_deleted == false %>
            <%= @post.user.user_name %>
          <% else %>
            <%= @post.user.user_name %>(退会済みユーザー)
          <% end %>
        </p>
      </div>
      <%= render 'layouts/post', post: @post %>
    </div>
  </div>
</div>

<div class="row">
  <div class="mx-auto">

    <div class="mb-5">
      <h4>ブックマーク：♥<%= @post.bookmarks.count %></h4>
    </div>

    <div>
      <h4 class="border-bottom">コメント</h4>
      <% @post.comments.each do |comment| %>
        <div class="mb-3">
          <%= comment.comment %><br>
          <% if comment.user.is_deleted == false %>
            by <%= comment.user.user_name %>
          <% else %>
            by <%= comment.user.user_name %>(退会済みユーザー)
          <% end %>
          | <%= comment.created_at.strftime('%Y/%m/%d') %>
          | <%= link_to "コメント削除", admin_post_comment_path(comment.post,comment), method: :delete, "data-confirm" => "このコメントを削除しますか？" %>
        </div>
      <% end %>
    </div>

  </div>
</div>
