<div class="row mb-5">
  <div class="mx-auto">
    <h3>体験談</h3>
  </div>

  <div class="col text-right">
    <div class="actions">
      <strong><%= link_to "投稿を削除する", admin_post_path(@post.id), method: :delete, "data-confirm" => "この投稿を削除しますか？" %></strong>
    </div>
  </div>

</div>

<div class="row">
  <div class="mx-auto">

    <div class="post bg-light">

      <div class="field">
        <strong>回答者：</strong><p><%= @post.user.user_name %></p>
      </div>
      <div class="field">
        <strong>回答者の年齢：</strong><p><%= @post.user.age %></p>
      </div>

        <div class="field">
          <h4><業種></h4>
          <p><%= @post.industry.industry %></p>
        </div>
        <div class="field">
          <h4><仕事内容></h4>
          <p><%= @post.answer_what %></p>
        </div>
        <div class="field">
          <h4><雇用形態></h4>
          <p><%= @post.answer_employment_status %></p>
        </div>
        <div class="field">
          <h4><勤務形態></h4>
          <p><%= @post.answer_working_style %></p>
        </div>
        <div class="field">
          <h4><収入面></h4>
          <p><%= @post.answer_income %></p>
        </div>
        <div class="field">
          <h4><この仕事に就くルート></h4>
          <p><%= @post.answer_how %></p>
        </div>
        <div class="field">
          <h4><必要な資格やスキル></h4>
          <p><%= @post.answer_skill %></p>
        </div>
        <div class="field">
          <h4><なぜこの仕事をやろうと思ったか？></h4>
          <p><%= @post.answer_why %></p>
        </div>
        <div class="field">
          <h4><適性、性格による向き不向き></h4>
          <p><%= @post.answer_aptitude %></p>
        </div>
        <div class="field">
          <h4><この仕事の将来性は？></h4>
          <p><%= @post.answer_future %></p>
        </div>
        <div class="field">
          <h4><メリット、やりがい></h4>
          <p><%= @post.answer_advantage %></p>
        </div>
        <div class="field">
          <h4><最後に></h4>
          <p><%= @post.answer_free %></p>
        </div>

    </div>
  </div>
</div>

<div class="row">
  <div class="mx-auto">

    <div>
      <% @post.comments.each do |comment| %>
        <%= post.comment %><br>
        <%= post.user_name %><br>
        <%= comment.created_at.strftime('%Y/%m/%d') %>
        <%= link_to "コメント削除", admin_post_comment_path(comment.post,comment), method: :delete, "data-confirm" => "このコメントを削除しますか？" %>
      <% end %>
    </div>

  </div>
</div>
