<%= render 'layouts/notice' %>

<div class="row">
  <div class="mx-auto">
    <h3>マイページ</h3>
  </div>
</div>

<div class="row">
  <div class="mx-auto">
    <div class="col-md-12">

      <h4 class="my-5 border-bottom">プロフィール</h4>
        <table>
          <tr><th>ユーザー名</th><td>：<%= @user.user_name %></td></tr>
          <tr><th>メールアドレス</th><td>：<%= @user.email  %></td></tr>
          <tr><th>年齢</th><td>：<%= @user.age %>代</td></tr>
        </table>

        <h4 class="my-5 border-bottom">メニュー</h4>
        <%= link_to "ユーザープロフィールを編集する", mypage_edit_path %><br>
        <%= link_to "自分の投稿一覧", posts_path %><br>
        <%= link_to "ブックマークした体験談一覧", bookmarks_path %><br>
        <br>
        <%= link_to "退会する", users_confirm_path %><br>

    </div>
  </div>
</div>
